.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.todosContainer {
  width: 100%;
}
